language: node_js
node_js:
  - "0.10"
before_script:
  - npm install -g grunt-cli
  - npm install -g bower
  - npm install
  - rm -Rf bower_components
  - bower install

script: grunt test --verbose --force